body{
    font-family: sans-serif;
}

.main-grid{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 1em;
}

.boxone{
    
    /* display: flex; */
    border: 1px solid grey;
}

.boxtwo{
    display: flex;
    border: 1px solid grey;
}

h2{
    padding-left: 20px;
}

hr{
    width: 60px;
    margin-left: 20px;
}

#payment-method{
    display: flex;
    margin-top: 2em;
    /* margin-left: 20px; */
    /* padding: 2em; */
}
#cc,#bank-trans,#paypal{
    border: 1px solid grey;
    margin: 1em;
    padding: 1.5em;
    width: 200px;
}

.payment-info{
    display: flex;
    flex-direction: column;
}

#name, #card, #date{
    /* padding-left: 20px; */
    margin: 20px;
}
#input{
   width: 30%;
}
